*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 60px; 
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
}

#navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}


main {
    padding: 20px;
}

#welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-tile {
    text-align: center;
    margin-bottom: 20px;
}

.project-tile img {
    width: 100%;
    height: auto;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}

#profile-link {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    color: #333;
}

#profile-link:hover {
    color: #000;
}

#footer {
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .project-tile {
        flex: 0 0 45%;
    }
}

@media (max-width: 480px) {
    .project-tile {
        flex: 0 0 100%;
    }
}
