body, h1, h2, p, ul, li, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    line-height: 1.6;
    color: #444;
    background-color: #f9f9f9;
    padding: 20px;
}


.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0319144a;
    color: #61dafb;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    z-index: 10;
}
  
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}



main {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

#welcome-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#welcome-section p {
    font-size: 1.2em;
    color: #666;
}

section {
    margin: 40px 0;
}

section h2{
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 36px;
}

.project-tile {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-tile img {
    max-width: 50%;
    height: auto;
}

.project-tile h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-size: 1.1em;
}

input, textarea, button {
    margin-top: 10px;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
}

button {
    margin-top: 20px;
    background: #282c34;
    color: #61dafb;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #21a1f1;
}

#profile-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#profile-link i {
    color: #333;
    transition: color 0.3s;
    font-size: 2em;
}

#profile-link i:hover {
    color: #61dafb;
}

#footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background: #282c34;
    color: #61dafb;
}

@media (min-width: 600px) {
    .project-tile {
      width: 80%;
    }
  }